@import "tailwindcss";

:root {
  --primary:#f97316;     /* orange-500 [var(--primary)]*/
   --secondary: #27272a;    /* zinc-800  [var(--secondary)]*/
  --accent: #fb923c;     /* orange-300 [var(--accent)]*/
}
/*  #f97316 */
